COMPOSE_PROJECT_NAME=local-platform
PLATFORM_DOCKER_NETWORK=local-platform-net

GITLAB_HTTP_PORT=8080
GITLAB_HTTPS_PORT=8443
GITLAB_SSH_PORT=2224
GITLAB_ROOT_EMAIL=root@example.com
GITLAB_ROOT_PASSWORD=ChangeMe123!
GITLAB_PROJECT_NAME=local-pipelines
GITLAB_PROJECT_PATH=local-pipelines
GITLAB_RUNNER_DESCRIPTION=local-fargate-runner
GITLAB_RUNNER_TAGS=local,fargate
GITLAB_RUNNER_JOB_IMAGE=docker:29.1.3-cli

MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_REGION=us-east-1
MINIO_BUCKET=lakehouse
MINIO_PREFIX=platform
MINIO_ENDPOINT=http://lakehouse-object-store:9000
MINIO_PUBLIC_ENDPOINT=
MINIO_USE_SSL=false

AIRFLOW_PORT=8088
AIRFLOW_UID=50000
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=airflow
AIRFLOW_ADMIN_EMAIL=airflow@example.com
AIRFLOW_FERNET_KEY=Qk1MS0Q2SndKRFNQbWw3UW0wYkVnQnJkV3JjN3JCVjQ=
AIRFLOW_WEBSERVER_SECRET_KEY=local-airflow-secret-key
AIRFLOW_METADATA_DB_USER=airflow
AIRFLOW_METADATA_DB_PASSWORD=airflow
AIRFLOW_METADATA_DB_NAME=airflow
AIRFLOW_METADATA_DB_PORT=5432

SOURCE_POSTGRES_HOST=source-postgres-db
SOURCE_POSTGRES_PORT=5432
SOURCE_POSTGRES_EXPOSE_PORT=5433
SOURCE_POSTGRES_DB=operational
SOURCE_POSTGRES_USER=platform
SOURCE_POSTGRES_PASSWORD=platform
SOURCE_POSTGRES_SCHEMA=public

DLT_PIPELINE_NAME=local_platform_ingest
DLT_REFRESH_MODE=drop_data
ICEBERG_NAMESPACE=landing
ICEBERG_CATALOG_TYPE=sql
ICEBERG_SQL_URI=postgresql://airflow:airflow@airflow-metadata-db:5432/iceberg_catalog

OBJECT_STORE_TYPE=minio
OBJECT_STORE_BUCKET=s3://lakehouse/platform
OBJECT_STORE_ACCESS_KEY_ID=minioadmin
OBJECT_STORE_SECRET_ACCESS_KEY=minioadmin123
OBJECT_STORE_ENDPOINT_URL=http://lakehouse-object-store:9000
OBJECT_STORE_REGION=us-east-1
OBJECT_STORE_USE_SSL=false

OPEN_CATALOG_URI=
OPEN_CATALOG_NAME=
OPEN_CATALOG_CLIENT_ID=
OPEN_CATALOG_CLIENT_SECRET=
OPEN_CATALOG_SCOPE=PRINCIPAL_ROLE:ALL
OPEN_CATALOG_ACCESS_DELEGATION=vended-credentials

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_PASSWORD=
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_WAREHOUSE=LOCAL_PLATFORM_WH
SNOWFLAKE_TARGET_DATABASE=LOCAL_PLATFORM
SNOWFLAKE_TARGET_SCHEMA=ANALYTICS
SNOWFLAKE_RAW_DATABASE=LOCAL_PLATFORM_LAKEHOUSE
SNOWFLAKE_CATALOG_INTEGRATION=LOCAL_PLATFORM_OPEN_CATALOG
SNOWFLAKE_CLONE_SCHEMA=ANALYTICS_CLONE_CI
SNOWFLAKE_LOCAL_RAW_SYNC=true
DBT_THREADS=4

AIRFLOW_IMAGE=apache/airflow:2.10.5-python3.11
